/* - - - General - - - */
.clear
{
	clear: both;
}
.contRight
{
	float: left;
}
.blodnone
{
	font-weight: normal;
}
.contLeft
{
	float: left;
}

/* - - - color texte - - - */
.blue
{
	color: #22A2FB;
}

/* - - - HEADER - - - */
#contTiltle
{
	background: #0c0c0c; /* Old browsers */
	background: -moz-linear-gradient(top,  #0c0c0c 1%, #292929 98%, #292929 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0c0c0c), color-stop(98%,#292929), color-stop(100%,#292929)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0c0c0c 1%,#292929 98%,#292929 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0c0c0c 1%,#292929 98%,#292929 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0c0c0c 1%,#292929 98%,#292929 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0c0c0c 1%,#292929 98%,#292929 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#292929',GradientType=0 ); /* IE6-9 */
	padding-left: 25px;
}
#contTiltle h1
{
	margin-top: 20px;
	font-size: 38px;
	font-weight: bold;
}
#contTiltle a 
{
	text-decoration: none;
	color: #EBEBEB;
}
#contTiltle p
{
	color: #4D4D4D;
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 5px;
	font-weight: normal;
}
#contTiltle .contRight
{
	margin-left: 648px;
	color: #6D6D6D;
}
#contTiltle .contRight li
{
	margin-top: 59px;
	margin-bottom: 15px;
	float: left;
	font-weight: normal;
	font-size: 13px;
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #6D6D6D;
}
#contTiltle .contRight li:hover
{
	color: #FFF;
	cursor: pointer;
}
#contTiltle .contRight .last
{
	border: none;
}
/* - - -  ONGLET - - - */
#contOnglet
{
	margin-top: 3px;
}
#contOnglet li
{
	background: #292929; /* Old browsers */
	background: -moz-linear-gradient(top,  #292929 1%, #0c0c0c 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#292929), color-stop(99%,#0c0c0c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #292929 1%,#0c0c0c 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #292929 1%,#0c0c0c 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #292929 1%,#0c0c0c 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #292929 1%,#0c0c0c 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#0c0c0c',GradientType=0 ); /* IE6-9 */
	float: left;
	margin-right: 1px;
	padding:18px;
	cursor: pointer;
}
#contOnglet a
{
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#contOnglet li:hover
{
	background: #2dc0fc; /* Old browsers */
	background: -moz-linear-gradient(top,  #2dc0fc 1%, #22a2fb 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2dc0fc), color-stop(99%,#22a2fb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2dc0fc 1%,#22a2fb 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2dc0fc 1%,#22a2fb 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2dc0fc 1%,#22a2fb 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #2dc0fc 1%,#22a2fb 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dc0fc', endColorstr='#22a2fb',GradientType=0 ); /* IE6-9 */
}
/* - - - CONNECTION / INSCRIPTION - - - */
#connection
{
	display: none;
	margin-top: 25px;
	margin-left: 77px;
}
#inscription
{
	display: none;
	margin-top: 25px;
	margin-left: 77px;
}
.formCo p
{
	line-height: 25px;
}
.formCo input
{
	float: right;
}
.formCo .ok
{
	width: 100%;
	height: 25px;
	color: #FFF;
	background: no-repeat;
	border: 1px outset #292929;
	margin: 5px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 9px;
}
/* - - - RECHERCHE - - - */
#contOnglet form
{
	margin-top: 15px;
	margin-left: 628px;
	float: left;
}
#contOnglet #champ
{
	color: #FFF;
	height: 25px;
	width: 200px;
	background: #000;
	border: 1px solid #292929;
}
#contOnglet #sube
{
	padding:0px;
	background-image: url("../img/loupee.png");
	border: none;
	margin: 0px;
	width: 30px;
	height: 23px;
	cursor: pointer;
}
#contOnglet img
{
	float: left;
}